* {
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: #040404;
}

.header .header-container {
  display: flex;
  align-items: center;
  gap: 65px;
  padding: 0 95px;
  width: 100%;
}

.header .nav-bar {
  display: flex;
  align-items: center;
  padding: 11px 96px;
  justify-content: space-between;
}

.nav-bar.header-logo {
  width: 68px;
}

.nav-bar .links {
  font-size: 12px;
  line-height: 14.06px;
  font-weight: 700;
  display: flex;
  gap: 25px;
}

.links .link {
  color: #ffd18d;
}

.hamburguer-button {
  display: none;
}

.header-content .header-content-img {
  max-width: 311px;
}

.header-content .header-content-title {
  color: #e6bc7e;
  font-size: 46px;
  line-height: 53.91px;
  font-weight: 700;
}

.header-content .header-content-description {
  color: #bf9d69;
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 400;
}

.first-content-description {
  display: flex;
  padding: 45px 160px 30px 160px;
  justify-content: space-between;
}

.first-content-description .container-description {
  max-width: 400px;
}

.container-description .container-description-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  color: #bf9d69;
  margin: 0;
}

.container-decription-description-link {
  font-weight: 700;
  font-size: 9px;
  line-height: 10.55px;
  color: #e6bc7e;
}

.container-description-lines,
.container-description-lines-line {
  padding: 0;
  margin: 0;
}

.container-description-lines {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 4px;
}

.container-description-lines-line {
  display: flex;
  flex-direction: column;
}

.container-description-sub-title {
  color: #e6bc7e;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
  margin: 0;
}

.container-description .container-description-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  color: #403423;
  margin: 0;
}

.galeria {
  width: 100%;
  background-color: #e6bc7e;
  display: flex;
  flex-direction: column;
  padding: 30px 0px 49px 0px;
  align-items: center;
}

.galeria .galeria-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria-bloco {
  display: flex;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin: 40px 25px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.galeria .galeria-img {
  width: 150px;
  border-radius: 10px;
  margin-right: 10px;
}

.galeria-properties-pet {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.galeria-bloco .galeria-img-donate {
  width: 40px;
  height: 40px;
  align-self: flex-end;
}

.galeira-container-description {
  margin: 0 auto;
  text-align: center;
}

.galeria-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  color: #333333;
  margin: 0;
}

.galeria-description {
  font-weight: 700;
  font-size: 8px;
  line-height: 9.38px;
  color: #403423;
  margin: 0;
}

.contato {
  background-color: #403423;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.contato .formulario {
  width: 330px;
  height: 427px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 40px;
}

.formulario .input {
  width: 280px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #000000;
  margin: 7px 25px 17px 25px;
}

.formulario .input:focus {
  outline: none;
  border: 1px solid #bf9d69;
}

.formulario .input.text-area {
  height: 80px;
  padding: 3px;
}

.formulario .label {
  font-size: 12px;
  line-height: 14.06px;
  font-weight: 700;
  margin-left: 25px;
}

.formulario .botao-enviar {
  background-color: #bf9d69;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  width: 280px;
  height: 35px;
  border-radius: 10px;
  margin: 0 25px;
}

.formulario .botao-enviar:hover {
  background-color: #403423;
}

.footer {
  height: 80px;
  background-color: #e6bc7e;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  padding: 33px 531px;
  text-align: center;
}

@media (max-width: 1040px) {
  .hamburguer-button {
    display: block;
    margin: 0 30px 0 auto;
  }

  .header-img {
    display: none;
  }

  .first-content-description {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 25px;
  }

  #first-line {
    color: #e6bc7e;
  }

  .container-description .container-description-description {
    text-align: justify;
  }

  .galeria-title {
    margin: 0 40px;
  }

  .galeria-description {
    text-align: center;
    margin-bottom: 20px;
    margin: 0 40px;
  }

  .galeria .galeria-linha {
    flex-direction: column;
    gap: 25px;
  }

  #galeria {
    height: auto;
    padding: 30px 0px 9px 0px;
  }

  .galeria-bloco {
    margin: 20px 10px;
  }

  .links .link {
    display: none;
  }

  .header .nav-bar {
    display: flex;
    padding: 11px 30px;
    justify-content: space-between;
  }

  .header-content .header-content-title {
    font-size: 36px;
    line-height: 42.19px;
    font-weight: 700;
    padding: 0 20px;
    text-align: center;
    margin: 0;
  }

  .header .header-container {
    display: block;
    align-items: center;
    gap: 0px;
    padding: 0px 20px 60px 20px;
    height: auto;
  }

  .header-content .header-content-description {
    font-size: 18px;
    line-height: 21.09px;
    font-weight: 400;
    text-align: center;
    margin: 0 60px;
    margin-top: 5px;
  }

  .footer {
    padding: 33px 111px;
    text-align: center;
  }

  #span {
    width: 138px;
  }
}

@media (max-width: 600px) {
  .galeria .galeria-linha {
    flex-direction: column;
    gap: 25px;
  }

  #galeria {
    flex-direction: column;
    align-items: center;
  }
}
